📖 <b>Справка по боту</b>

<b>Основные функции:</b>
• 📋 Мои настройки - просмотреть текущие настройки
• 👤 Мой профиль - информация о вашем профиле
• ⏰ Настроить время - установить время получения вдохновений
• 📚 Выбрать книгу - выбрать книгу
• 🌐 Выбрать язык - выбрать язык для вдохновений

<b>Команды:</b>
/start - перезапустить бота
/help - показать эту справку

<b>Как это работает:</b>
1. Настройте время получения вдохновений
2. Выберите книгу
3. Выберите язык
4. Каждый день в указанное время вы будете получать утренние вдохновения!
