services:
  #
  # Database
  #
  postgres:
    image: postgres:14
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: ${DATABASE_USER:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      POSTGRES_DB: ${DATABASE_NAME:-asd_morning_bot}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${POSTGRES_BIND:-127.0.0.1:5432}:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DATABASE_USER:-postgres}"]
      interval: 10s
      timeout: 5s
      retries: 5

  #
  # Redis
  #
  redis:
    image: redis:6.2.6-alpine
    expose:
      - 6379
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  #
  # Django Application
  #
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - .:/app
      - ./docker/config:/config
    working_dir: /app
    environment:
      PYTHONUNBUFFERED: 1
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - ${APP_BIND:-127.0.0.1:8000}:8000
    expose:
      - 8000
    command: ["./docker/scripts/server.sh"]
    env_file:
      - .env

  #
  # Celery Worker
  #
  celery-worker:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      C_FORCE_ROOT: 1
      PYTHONUNBUFFERED: 1
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - ./docker/config:/config
    working_dir: /app
    command: ["./docker/scripts/celery-worker.sh"]
    env_file:
      - .env

  #
  # Celery Beat
  #
  celery-beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      C_FORCE_ROOT: 1
      PYTHONUNBUFFERED: 1
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    volumes:
      - .:/app
      - ./docker/config:/config
    working_dir: /app
    command: ["./docker/scripts/celery-beat.sh"]
    env_file:
      - .env

  #
  # Telegram Bot
  #
  bot:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      PYTHONUNBUFFERED: 1
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app
      - ./docker/config:/config
    working_dir: /app
    command: ["./docker/scripts/bot.sh"]
    env_file:
      - .env

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
