📖 <b>Bot Help</b>

<b>Main features:</b>
• 📋 My Settings - view current settings
• 👤 My Profile - information about your profile
• ⏰ Set Time - set the time to receive inspirations
• 📚 Select Book - choose a book
• 🌐 Select Language - choose language for inspirations

<b>Commands:</b>
/start - restart the bot
/help - show this help

<b>How it works:</b>
1. Set the time to receive inspirations
2. Select a book
3. Select a language
4. Every day at the specified time you will receive morning inspirations!
