📖 <b>Довідка по боту</b>

<b>Основні функції:</b>
• 📋 Мої налаштування - переглянути поточні налаштування
• 👤 Мій профіль - інформація про ваш профіль
• ⏰ Налаштувати час - встановити час отримання натхнень
• 📚 Обрати книгу - вибрати книгу
• 🌐 Обрати мову - вибрати мову для натхнень

<b>Команди:</b>
/start - перезапустити бота
/help - показати цю довідку

<b>Як це працює:</b>
1. Налаштуйте час отримання натхнень
2. Оберіть книгу
3. Оберіть мову
4. Щодня о вказаний час ви отримуватимете ранкові натхнення!
